<div class="container-fluid bg-dark" style="display:flex; justify-content: center;align-items: center;">
  <form action="/productos" method="post" style="margin:40px;color: aqua;">
      <label for="POST-name">Nombre:</label>
      <input id="POST-name" type="text" name="title" placeholder="Nombre del producto"/>
      <label for="POST-name">precio:</label>
      <input id="POST-name" type="text" name="price" placeholder="Precio"/>
      <label for="POST-name">Imagen:</label>
      <input id="POST-name" type="text" name="thumbnail" placeholder="url de la imagen"/>
      <button class="btn btn-success " type="submit">Enviar</button>
  </form>
</div>
